# Discord bot access token
TOKEN=<token_here>

# Bot command prefix
CMD_PREFIX=!


# Optional -------------------------------------------------------
# Presence text channel updates
ENABLE_PRESENCE_UPDATES=false
PRESENCE_TEXT_CHANNEL_UPDATES=<discord_text_channel_id>

# date-fns format e.g. Europe/Helsinki
TIMEZONE=Europe/Helsinki
# ----------------------------------------------------------------


# Database -------------------------------------------------------
POSTGRES_DB=discord-2000
POSTGRES_USER=<please_change_me>
POSTGRES_PASSWORD=<please_change_me>

# Do not change this from localhost, unless you know what you are doing :)
POSTGRES_HOST=localhost
