# Discord bot access token
token=<token_here>

# Bot command prefix
cmd_prefix=!


# Optional -------------------------------------------------------
# Presence text channel updates
enable_presence_updates=false
presence_text_channel_updates=<discord_text_channel_id>

# date-fns format e.g. Europe/Helsinki
timezone=Europe/Helsinki
# ----------------------------------------------------------------


# Database -------------------------------------------------------
postgres_db=discord-2000
postgres_user=<please_change_me>
postgres_password=<please_change_me>

# Do not change this from localhost, unless you know what you are doing :)
postgres_host=localhost
